.container {
    width: 100%;
    height: 100%;
    @include center;
    flex-direction: column;
    gap: 2em;
    color: $primary-color;

    @include responsive("medium") {
        font-size: 12px;
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;

        & h1 {
            font-size: 3em;
            font-weight: 800;
            text-transform: uppercase;
        }

        & p {
            color: grey;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    width: 30rem;
    font-size: large;
    gap: 0.6em;

    @include responsive("small") {
        width: 20rem;
    }

    &__name {
        display: flex;
        gap: 0.5em;
    }

    &__name > * {
        flex: 1;
    }

    &__button {
        width: 60%;
        margin: auto;
        color: white;
        background-color: $primary-color;
        font-size: large;
        padding: 0.8em;
        border: 0;
        border-radius: 10px;
        cursor: pointer;
    }

    &__button:disabled {
        cursor: not-allowed;
    }
}

.login-link {
    font-size: 1.2em;

    &__link,
    &__link:visited,
    &__link:active {
        color: $primary-color;
    }
}
