@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

$primary-color: #3E588B;
$secondary-color: white;

$font-color-light: white;
$font-color-dark: #222;

$menu-background:white;
$menu-color:#222;

$font-navbar: 'Oswald', sans-serif;

$box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
