@import url('https://fonts.googleapis.com/css2?family=Faustina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Adlam+Unjoined&display=swap');

$theme-color: #3E588B;
$white: white;

$menu-background:white;
$menu-color:#222;


$font: 'Faustina', serif;
$font1:'Noto Sans Adlam Unjoined', sans-serif;

$box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
