.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: $font-color-light;
    text-transform: uppercase;

    @include responsive("small"){

    }

    &__title{
        font-size: 1.125rem;
        font-weight:bold;

        @include responsive("small"){
            font-size: 1rem;
        }
    }

    &__value{
        font-size: 1.125rem;

        @include responsive("small"){
            font-size: 1rem;
        }
    }
}
