.bar {
    width: 100vw;
    max-width: 100%;
    background-color: black;

    &__container {
        max-width: 75rem;
        height: 1.75rem;
        margin: auto;
        padding: 0 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__info{
        display: flex;
        flex-direction: row;
        width: 20rem;
        justify-content: space-between;
        @include responsive("small"){
            flex-direction: column;
        }
    }

    &__number,
    &__email {
        display: flex;
        align-items: center;
        gap: 0.3rem;
        color: white;
        font-size: 0.8rem;
    }

    &__link{
        text-decoration: none;
        color: white;
    }

    &__languages {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        &--ro,
        &--en,
        &--ru {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 21px;
            height: 15px;
            font-family: $font_navbar;
            font-size: 0.9em;
            font-weight: bold;
            color: transparent;
            cursor: pointer;
        }

        &--ro {
            background-image: url("../../assets/icons/ro.svg");
        }

        &--en {
            background-image: url("../../assets/icons/en.svg");
        }

        &--ru {
            background-image: url("../../assets/icons/ru.svg");
        }
    }

}