.teacher {
    display: block;
    padding: 4rem 0;
    background-color: $tertiary-color;

    &__container {
        max-width: 75rem;
        padding: 0 1rem;
        margin: 0 auto;
    }
    
    &__row {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__cols{
        &--1{
            width: 23rem;

            @include responsive("large") {
                width: 20rem;
            }

            @include responsive("medium") {
                width: 100%;
            }
        }
        &--2{
            width: 17rem;

            @include responsive("large") {
                width: 14.5rem;
            }

            @include responsive("medium") {
                width: 100%;
            }
        }
    }
}

.navigation {
    width: fit-content;
    margin: 0.5em auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5em;

    &__arrow, &__page{
        width: 1.8em;
        height: 1.8em;
        font-size: 1.2em;
        text-align: center;
        border: 1px solid $font-color-grey;
        cursor: pointer;
    }

    &__arrow {
        font-weight: 400;
        color: $font-color-grey;
        padding: 0.5rem;

        &:hover{
            background-color: $primary-color;
            color: $secondary-color;
        }
    }

    &__page {
        color: $font-color-grey;
        padding: 0.2rem;

        &::selection {
            background-color: none;
            color: $font-color-grey;
        }

        &--current {
            background-color: $primary-color;
            color: $secondary-color;

        }
    }
}