.container{
    max-width: 75rem;
    margin: 0 auto;
    padding: 4rem 2rem;

    &__top{
        text-align: center;

        h2{
            margin-bottom: 2rem;
            font-weight: 700;
        }

        p{
            margin-bottom: 3rem;
        }

        .author{
            display: flex;
            flex-direction: column;

            strong, small{
                text-transform: uppercase;
            }
        }
    }
}

.big__container{
    width: 100%;
    background-color: $tertiary-color;

    .container{
        &__bottom{
            display: flex;
            flex-direction: row;
            background-color: $tertiary-color;

            @include responsive("medium") {
                flex-direction: column;
            }

            .video{
                padding: 3rem 0;
                display: flex;
                align-items: center;

                @include responsive("medium") {
                    iframe{
                        width: 100%;
                        height: 100%;
                    }

                }
            }

            .content{
            padding: 3rem 2rem;

            &__header{
                margin-bottom: 1.5rem;

                small{
                    text-transform: uppercase;
                }
            }

            &__body{
                h4{
                    font-weight: 700;
                    text-align: justify;
                }

                p{
                    text-align: justify;
                }

                button{
                    background-color: $primary-color;
                    padding: 0.5rem 1rem;
                    
                    a{
                        color: $font-color-light;
                        text-decoration: none;
                    }
                }
            }

            }
        }
    }
}