@import url('https://fonts.googleapis.com/css2?family=Faustina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Adlam+Unjoined&display=swap');

$blue:#162447;
$blue1: #020024;
$blue2: #3E588B;
$blue3: #0A2647;

$font: 'Faustina', serif;
$font1:'Noto Sans Adlam Unjoined', sans-serif;


