.courses{
    max-width: 75rem;
    margin: 0 auto;
    padding: 2rem 1rem;

    .container{
        a {
            color: $font-color-dark;
        }

        .content{

            &__title{
                font-weight: 700;
            }

            &__body{
                display: flex;
                flex-direction: row;
            }

            &__image{

            }

            &__description{

            }

            &__content{

            }
        }

    }
}