.container{
    width: 100%;
    height: 13rem;

    @include responsive("medium") {
       height: 12*3rem;
    }

    @include responsive("x-small") {
        height: 9.25*3rem;
    }

    @include responsive("xxx-small") {
        height: 11*3rem;
    }

    .row{
        display: flex;
        flex-direction: row;
        max-width: 75rem;
        margin: -6rem auto;
        padding: 0 2rem;

        @include responsive("medium") {
            flex-direction: column;
            padding: 0;
        }

        a{
            text-decoration: none;
        }
        

        .box{
            display: flex;
            align-items: center;
            flex-grow: 1;
            width: 33%;
            padding: 3rem 3rem;
            z-index: 1;
            color: $font-color-light;
            position: relative;

            @include responsive("large") {
                padding: 2rem 3rem;
            }

            @include responsive("medium") {
                width: 100%;
                padding: 4rem 3rem;
            }

            @include responsive("x-small") {
                padding: 2rem 3rem;
            }

            p{
                margin: 0;
            }

            &::before{
                content:'';
                width: 100%;
                height: 100%;
                position: absolute;
                top:0;
                left: 0;
                display: block;
                z-index: -1;
            }

            &--1{
                background: url(@images/boxes-img-1.jpeg);
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: center center;
                transition: all 0.3s;

                &:hover{
                    background-size: 120%;
                    transition: all 0.3s;
                }

                &::before{
                    background-color: rgba(63,144,201,0.89);
                    background-size: cover;
                    background-position: center center;
                    transition: all 0.3s;
                }
            }
            &--2{
                background: url(@images/boxes-img-2.jpg);
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: center center;
                transition: all 0.3s;

                &:hover{
                    background-size: 120%;
                    transition: all 0.3s;
                }

                &::before{
                    background-color: rgba(245,165,12,0.89);
                    background-size: 120%;
                    background-position: center center;
                    transition: all 0.3s;
                }
            }
            &--3{
                background: url(@images/boxes-img-3.jpeg);
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: center center;
                transition: all 0.3s;

                &:hover{
                    background-size: 120%;
                    transition: all 0.3s;
                }

                &::before{
                    background-color: rgba(244,52,61,0.89);
                    background-size: cover;
                    background-position: center center;
                    transition: all 0.3s;
                }
            }

            &__title{
                text-transform: uppercase;
                font-weight: 700;
            }
        }
    }
}